.table-view {
    -fx-background-color: #ede6e3; /* Soft beige background */
    -fx-border-color: #725b53; /* Medium brown border */
    -fx-table-cell-border-color: #725b53; /* Medium brown cell border */
}

.table-view .column-header {
    -fx-background-color: linear-gradient(#a78c84, #725b53); /* Gradient from light to medium brown */
    -fx-border-color: transparent transparent #372214 transparent; /* Dark brown bottom border */
    -fx-font-size: 14px;
    -fx-text-fill: #372214; /* Dark brown text */
}

.table-view .table-row-cell {
    -fx-background-color: #ede6e3; /* Soft beige background */
    -fx-border-color: transparent transparent #a78c84 transparent; /* Medium brown bottom border */
    -fx-font-size: 14px;
    -fx-text-fill: #372214; /* Dark brown text */
}

.table-view .table-row-cell:selected {
    -fx-background-color: #725b53; /* Medium brown background when selected */
    -fx-text-fill: #ffffff; /* White text when selected */
}

.table-view .table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 8px;
}
